<!DOCTYPE html>
<html th:replace="~{layout :: layout(title=~{::title}, content=~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Formulário do Livro</title>
</head>

<body>
<section>
    <h1 class="text-3xl font-bold mb-6">Cadastrar / Editar Livro</h1>

    <form th:action="@{/livros}" th:object="${livro}" method="POST"
          class="bg-white p-8 rounded-lg shadow-md space-y-6">

        <input type="hidden" th:field="*{id}" />

        <div>
            <label for="titulo" class="block text-sm font-medium text-gray-700">Título</label>
            <input type="text" id="titulo" th:field="*{titulo}"
                   class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm"/>
        </div>

        <div>
            <label for="autor" class="block text-sm font-medium text-gray-700">Autor</label>
            <input type="text" id="autor" th:field="*{autor}"
                   class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm"/>
        </div>

        <div class="grid grid-cols-2 gap-6">
            <div>
                <label for="isbn" class="block text-sm font-medium text-gray-700">ISBN</label>
                <input type="text" id="isbn" th:field="*{isbn}"
                       class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm"/>
            </div>
            <div>
                <label for="quantidadeTotal" class="block text-sm font-medium text-gray-700">Quantidade Total</label>
                <input type="number" id="quantidadeTotal" th:field="*{quantidadeTotal}"
                       class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm"/>
            </div>
        </div>

        <div>
            <label for="urlCapa" class="block text-sm font-medium text-gray-700">URL da Capa (Imagem)</label>
            <input type="text" id="urlCapa" th:field="*{urlCapa}"
                   class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm"/>
        </div>

        <div class="flex justify-end space-x-4">
            <a th:href="@{/livros}"
               class="bg-gray-200 text-gray-700 py-2 px-4 rounded-lg
                          hover:bg-gray-300 transition">
                Cancelar
            </a>
            <button type="submit"
                    class="bg-blue-600 text-white py-2 px-4 rounded-lg
                               hover:bg-blue-700 transition">
                Salvar Livro
            </button>
        </div>
    </form>
</section>
</body>
</html>